.carousel-inner img {
    /* width: 50%; */
    height: 400px;
    object-fit: cover;
  }
  
  .carousel-caption a {
    color: white !important;
    text-decoration: none;
  }
  
  .carousel-caption a:hover {
    text-decoration: underline;
    text-decoration-color: white !important;
  }
  
  .cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E08A36;
  }
  
  body {
    background-color: #FFF2C2 !important;
  }
  
  h3 {
    text-align: center;
    color: #E08A36 !important;
  }
  
  .lexend-subheadings {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }

  .Steps{
    text-align: left;
  }

  p{
    text-align: center;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;                
  }

  
  